* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 5px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}

.title {
    margin-bottom: 15px;
}

.container {
    height: auto;
    outline: solid black 3px;
    display: flex;
    flex-direction: column;
}

.row {
    background-color: white;
    display: flex;
    flex-grow: 0;
}

.square { 
    outline: 1px solid rgb(0, 0, 0, 0.5);
    flex-shrink: 0;
}

.btn-container {
    display: flex;
    gap: 16px;
    padding: 16px;
}

button {
    font-size: 24px;
    padding: 8px;
    width: 100px;
    border-radius: 16px;
    background-color: purple;
    color: greenyellow;
    outline: solid greenyellow 3px;
}